
 .bld{
 font-weight: bold;
 }
  .nopad{
 padding: 0px;
 margin: 0px;
 }
  .nopad-left-right{
 padding-left: 0px;
 padding-right: 0px;
 
 }
style .ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
	width: 4in;
}
style .ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
style .ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
style .ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
style .ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
style .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
style .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
style .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
style .ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
style .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
style .ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
